{% extends 'computers/base.html'%}

{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Laptops Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">{{all_laptops}}</div>
                                   
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">{{assigned_laptops}}</div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">{{unassigned_laptops}}</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">{{all_employees}}</div>
                                    
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'assignlaptop' %}" class="btn btn-primary btn-sm" style="float:right;">Assign Laptop</a><br><br>
                        <hr>
                        <table class="table table-success table-striped">
                            <tr>
                                <th>Employee</th>
                                <th>Email</th>
                                <th>Serial No</th>
                                <th>Previous User</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for assign in assigns %}
                            <tr>
                                <td>{{assign.employee}}</td>
                                <td>{{assign.email}}</td>
                                <td><a href="{% url 'assigndetail' assign.id %}">{{assign.serial_no}}</a></td>
                                <td>{{assign.previous_user}}</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a>
                                </td>
                                <td>
                                    <a href="{% url 'deleteassign' assign.id %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                
                            {% endfor %}
                        </table>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{% endblock%}

